[Unit]
Description=logstash

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull sybeck2k/logstash
ExecStart=/usr/bin/docker run --rm --name logstash -e HOST_IP=${COREOS_PRIVATE_IPV4} -p 10101:10101 sybeck2k/logstash
ExecStartPost=/usr/bin/etcdctl set /logstash/host ${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/docker kill logstash
ExecStopPost=/usr/bin/etcdctl rm --dir --recursive /logstash

[X-Fleet]
X-Conflicts=logstash.service
