input {
  lumberjack {
    port => 10101
    ssl_certificate => "/opt/logstash/ssl/logstash-forwarder.crt"
    ssl_key => "/opt/logstash/ssl/logstash-forwarder.key"
  }
}

filter {
  if [type] == "journal" {
    grok {
      match => [ "message", "%{TIMESTAMP_ISO8601:logdate} %{HOST} %{SYSLOGPROG}:%{SPACE}%{GREEDYDATA:message}" ]
      add_tag => ["journal_grokked"]
      overwrite => "message"
    }

    if "journal_grokked" in [tags] {
      date {
        match => [ "logdate", "ISO8601" ]
        remove_field => [ "logdate" ]
        add_tag => ["tmatch"]
      }
    }
  }
}

output {
  elasticsearch {
    protocol => "http"
    host => "{{ .elasticsearch_host }}"
    port => 9200
  }
}
